.flip-container {
	perspective: 1000;
}
.flipper {
	padding: 30px;
	width: 300px;
	height: 300px;
	position: relative;
	background: #ffffff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	transition: 0.6s;
	transform-style: preserve-3d;
}

.front,
.back {
	/*background-color: rgba(0,0,0,.3);*/
	position: absolute;
	padding: 10px 30px;
	top: 0;
	left: 0;
	right: 0;
	backface-visibility: hidden;
}

.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}
.flip {
	transform: rotateY(180deg);
}
input {
	width: 100%;
	margin-bottom: 15px;
	height: 40px;
	box-sizing: border-box;
	padding: 10px;
}

.title {
	text-align: center;
}
.flipbutton {
	color: #4096ee;
	text-decoration: none;
	text-align: left !important;
}
input[type="button"]{
	color: white !important;
	background: #092756;
	background: -moz-radial-gradient(
			0% 100%,
			ellipse cover,
			rgba(104, 128, 138, 0.4) 10%,
			rgba(138, 114, 76, 0) 40%
		),
		-moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
					100%),
		-moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(
			0% 100%,
			ellipse cover,
			rgba(104, 128, 138, 0.4) 10%,
			rgba(138, 114, 76, 0) 40%
		),
		-webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(
						42,
						60,
						87,
						0.4
					)
					100%),
		-webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
	background: -o-radial-gradient(
			0% 100%,
			ellipse cover,
			rgba(104, 128, 138, 0.4) 10%,
			rgba(138, 114, 76, 0) 40%
		),
		-o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
					100%),
		-o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
	background: -ms-radial-gradient(
			0% 100%,
			ellipse cover,
			rgba(104, 128, 138, 0.4) 10%,
			rgba(138, 114, 76, 0) 40%
		),
		-ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
					100%),
		-ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(
			0% 100%,
			ellipse cover,
			rgba(104, 128, 138, 0.4) 10%,
			rgba(138, 114, 76, 0) 40%
		),
		linear-gradient(
			to bottom,
			rgba(57, 173, 219, 0.25) 0%,
			rgba(42, 60, 87, 0.4) 100%
		),
		linear-gradient(135deg, #670d10 0%, #092756 100%);
}

/* Alignment styles */

body,
html {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	background: #092756;
	background: -moz-radial-gradient(
			0% 100%,
			ellipse cover,
			rgba(104, 128, 138, 0.4) 10%,
			rgba(138, 114, 76, 0) 40%
		),
		-moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
					100%),
		-moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(
			0% 100%,
			ellipse cover,
			rgba(104, 128, 138, 0.4) 10%,
			rgba(138, 114, 76, 0) 40%
		),
		-webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(
						42,
						60,
						87,
						0.4
					)
					100%),
		-webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
	background: -o-radial-gradient(
			0% 100%,
			ellipse cover,
			rgba(104, 128, 138, 0.4) 10%,
			rgba(138, 114, 76, 0) 40%
		),
		-o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
					100%),
		-o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
	background: -ms-radial-gradient(
			0% 100%,
			ellipse cover,
			rgba(104, 128, 138, 0.4) 10%,
			rgba(138, 114, 76, 0) 40%
		),
		-ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
					100%),
		-ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(
			0% 100%,
			ellipse cover,
			rgba(104, 128, 138, 0.4) 10%,
			rgba(138, 114, 76, 0) 40%
		),
		linear-gradient(
			to bottom,
			rgba(57, 173, 219, 0.25) 0%,
			rgba(42, 60, 87, 0.4) 100%
		),
		linear-gradient(135deg, #670d10 0%, #092756 100%);
}
